<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qsy.workbench.dao.ContactRemarkMapper">
  <resultMap id="BaseResultMap" type="com.qsy.workbench.pojo.ContactRemark">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="note_content" jdbcType="VARCHAR" property="noteContent" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
    <result column="edit_time" jdbcType="CHAR" property="editTime" />
    <result column="edit_flag" jdbcType="CHAR" property="editFlag" />
    <result column="contact_id" jdbcType="CHAR" property="contactId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, note_content, create_by, create_time, edit_by, edit_time, edit_flag, contact_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_contact_remark
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_contact_remark
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.qsy.workbench.pojo.ContactRemark">
    insert into tbl_contact_remark (id, note_content, create_by, 
      create_time, edit_by, edit_time, 
      edit_flag, contact_id)
    values (#{id,jdbcType=CHAR}, #{noteContent,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=CHAR}, #{editBy,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR}, 
      #{editFlag,jdbcType=CHAR}, #{contactId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qsy.workbench.pojo.ContactRemark">
    insert into tbl_contact_remark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="noteContent != null">
        note_content,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="editBy != null">
        edit_by,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="editFlag != null">
        edit_flag,
      </if>
      <if test="contactId != null">
        contact_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="noteContent != null">
        #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        #{editBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=CHAR},
      </if>
      <if test="editFlag != null">
        #{editFlag,jdbcType=CHAR},
      </if>
      <if test="contactId != null">
        #{contactId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qsy.workbench.pojo.ContactRemark">
    update tbl_contact_remark
    <set>
      <if test="noteContent != null">
        note_content = #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        edit_by = #{editBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=CHAR},
      </if>
      <if test="editFlag != null">
        edit_flag = #{editFlag,jdbcType=CHAR},
      </if>
      <if test="contactId != null">
        contact_id = #{contactId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qsy.workbench.pojo.ContactRemark">
    update tbl_contact_remark
    set note_content = #{noteContent,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=CHAR},
      edit_by = #{editBy,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=CHAR},
      edit_flag = #{editFlag,jdbcType=CHAR},
      contact_id = #{contactId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

  <insert id="insertContactRemarkByList" parameterType="contactRemark">
    insert into tbl_contact_remark (id, note_content, create_by, create_time, edit_by, edit_time, edit_flag,
                                    contact_id)
    values
    <foreach collection="list" item="corList" separator=",">
      (#{corList.id},#{ corList.noteContent},#{ corList.createBy},#{ corList.createTime},#{ corList.editBy},#{ corList.editTime},#{ corList.editFlag},#{corList.contactId})
    </foreach>
  </insert>
  <select id="selectContactRemarkForDetailByContactId" parameterType="string" resultMap="BaseResultMap">
    select cr.id,cr.note_content,cr.create_time,u1.name as create_by,u2.name as edit_by,cr.edit_time,cr.edit_flag,cr.contact_id
    from tbl_contact_remark cr
           join tbl_user u1 on cr.create_by=u1.id
           left join tbl_user u2 on cr.edit_by=u2.id
    where cr.contact_id = #{contactId}
    order by cr.create_time desc;
  </select>

  <insert id="insertContactRemark" parameterType="contactRemark">
    insert into tbl_contact_remark (id, note_content, create_by, create_time, edit_flag, contact_id)
    values (#{id},#{ noteContent},#{ createBy},#{ createTime},#{ editFlag},#{ contactId});
  </insert>
  <update id="updateContactRemark" parameterType="contactRemark">
    update tbl_contact_remark
    set note_content = #{noteContent},edit_by = #{editBy},edit_flag = #{editFlag},edit_time = #{editTime}
    where id=#{id};
  </update>
  <delete id="deleteContactRemarkById" parameterType="string">
    delete
    from tbl_contact_remark
    where id = #{id};
  </delete>
  <delete id="deleteContactRemarkByContactId" parameterType="string">
    delete
    from tbl_contact_remark
    where contact_id in
    <foreach collection="array" item="contactId" open=" (" close=")" separator=",">
      #{contactId}
    </foreach>
  </delete>
</mapper>