<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--配置静态资源过滤-->
    <mvc:default-servlet-handler/>
    <!--配置注解驱动-->
    <mvc:annotation-driven/>
    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--配置扫描包注入bean-->
    <context:component-scan base-package="com.qsy.workbench.controller"/>
    <context:component-scan base-package="com.qsy.settings.controller"/>
    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--配置拦截的请求-->
            <mvc:mapping path="/settings/**"/>
            <mvc:mapping path="/workbench/**"/>
            <!--配置排除的请求——优先级更高-->
            <mvc:exclude-mapping path="/settings/qx/user/toLogin.do"/>
            <mvc:exclude-mapping path="/settings/qx/user/login.do"/>
            <bean class="com.qsy.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/settings/**"/>-->
<!--            <mvc:mapping path="/workbench/**"/>-->
<!--            &lt;!&ndash;配置排除的请求——优先级更高&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/settings/qx/user/toLogin.do"/>-->
<!--            <mvc:exclude-mapping path="/settings/qx/user/login.do"/>-->
<!--            <mvc:exclude-mapping path="/workbench/index.do"/>-->
<!--            <mvc:exclude-mapping path="/workbench/main/index.do"/>-->
<!--            <mvc:exclude-mapping path="/workbench/showMenu.do"/>-->
<!--            <mvc:exclude-mapping path="/settings/qx/user/editPwd.do"/>-->
<!--            <mvc:exclude-mapping path="/settings/qx/user/logout.do"/>-->

<!--            <bean class="com.qsy.interceptor.MenuInterceptor"/>-->
<!--        </mvc:interceptor>-->
    </mvc:interceptors>
    <!--配置文件上传解析器，id:必须是multipartResolver不然使用时找不到-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="#{1024*1024*5}"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>
</beans>
